<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Lingua
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="#"
                (click)="setLanguage('italiano')"
                >Italiano</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="setLanguage('inglese')"
                >Inglese</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
