<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <label for="language" class="form-label">{{ translate("language") }}</label>
  <select [formControl]="languageControl" id="language" name="language">
    <option value="italiano">{{ translate("italian") }}</option>
    <option value="inglese">{{ translate("english") }}</option>
  </select>
</nav>

<div class="container p-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="currency" class="form-label border border-gray">{{
        translate("currencyLabel")
      }}</label>
      <select
        formControlName="currency"
        class="form-select"
        id="currency"
        name="currency"
        required
      >
        <option value="">{{ translate("currencyPlaceholder") }}</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
      <div
        *ngIf="form.get('currency')?.invalid && form.get('currency')?.touched"
        class="text-danger"
      >
        {{ translate("requiredField") }}
      </div>
    </div>

    <div class="mb-3 border border-gray">
      <label for="choice" class="form-label">{{
        translate("choiceLabel")
      }}</label>
      <select
        formControlName="choice"
        class="form-select"
        id="choice"
        name="choice"
        required
      >
        <option value="">{{ translate("choicePlaceholder") }}</option>
        <option value="acquisto">{{ translate("purchase") }}</option>
        <option value="vendita">{{ translate("sale") }}</option>
      </select>

      <div
        *ngIf="form.get('choice')?.invalid && form.get('choice')?.touched"
        class="text-danger"
      >
        {{ translate("requiredField") }}
      </div>
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">{{ translate("dateLabel") }}</label>
      <input
        formControlName="date"
        type="date"
        class="form-control"
        id="date"
        name="date"
        required
      />
      <div
        *ngIf="form.get('date')?.invalid && form.get('date')?.touched"
        class="text-danger"
      >
        {{ translate("requiredField") }}
      </div>
    </div>

    <div class="mb-3">
      <label for="tool" class="form-label">{{ translate("toolLabel") }}</label>
      <input
        formControlName="tool"
        type="text"
        class="form-control"
        id="tool"
        name="tool"
        required
      />
      <div
        *ngIf="form.get('tool')?.invalid && form.get('tool')?.touched"
        class="text-danger"
      >
        {{ translate("requiredField") }}
      </div>
    </div>

    <div class="mb-3">
      <label for="quantity" class="form-label">{{
        translate("quantityLabel")
      }}</label>
      <input
        formControlName="quantity"
        type="number"
        class="form-control"
        id="quantity"
        name="quantity"
        required
      />
      <div
        *ngIf="form.get('quantity')?.invalid && form.get('quantity')?.touched"
        class="text-danger"
      >
        {{ translate("requiredField") }}
      </div>
      <div
        *ngIf="form.get('quantity')?.errors?.['pattern']"
        class="text-danger"
      >
        {{ translate("numericIntegerError") }}
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">{{
        translate("priceLabel")
      }}</label>
      <input
        formControlName="price"
        type="number"
        class="form-control"
        id="price"
        name="price"
        step="0.0001"
        required
      />
      <div
        *ngIf="form.get('price')?.invalid && form.get('price')?.touched"
        class="text-danger"
      >
        {{ translate("requiredField") }}
      </div>
      <div *ngIf="form.get('price')?.errors?.['pattern']" class="text-danger">
        {{ translate("numericDecimalError") }}
      </div>
    </div>

    <div class="mb-3">
      <label for="total" class="form-label">{{
        translate("totalLabel")
      }}</label>
      <input
        formControlName="total"
        type="number"
        class="form-control"
        id="total"
        name="total"
        [readonly]="true"
        [value]="updateTotal()"
      />
    </div>

    <button type="submit" class="btn btn-success" [disabled]="form.invalid">
      {{ translate("submitButton") }}
    </button>
  </form>
</div>
